.content-page {
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 0 20px;
}

.gallery-item {
  width: 200px;
  height: 200px;
  will-change: transform, opacity;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  img:hover {
    transform: scale(1.04);
    cursor: pointer;
    opacity: 0.8;
  }
}
