<div [class.theme-light]="theme === 'light'" [class.theme-dark]="theme === 'dark'">
  <app-toolbar [theme]="theme" (toggleTheme)="toggleTheme()"></app-toolbar>

  <div class="content">
    <mat-tab-group animationDuration="500ms" mat-align-tabs="center" [selectedIndex]="selectedIndex"
      (selectedIndexChange)="onTabChange($event)">

      <mat-tab label="Basic"></mat-tab>
      <mat-tab label="Gallery"></mat-tab>
      <mat-tab label="Parallax"></mat-tab>
      <mat-tab label="TimeLine"></mat-tab>
      <mat-tab label="Draggable"></mat-tab>
      <mat-tab label="MotionPath"></mat-tab>
      <mat-tab label="Products"></mat-tab>
    </mat-tab-group>

    <router-outlet></router-outlet>


    <!--  <button mat-raised-button color="primary" (click)="toggleTheme()">
      {{ theme === 'light' ? 'Dark' : 'Light' }}
    </button> -->






  </div>
</div>